.root {
    -nes4j-background-color: #fff;
    /**Game hall navbar background color**/
    -nes4j-game-hall-navbar: #0072ae;
    /**Game hall left assort background color**/
    -nes4j-game-hall-assort: #004b7f;
    /**Game hall center content background color**/
    -nes4j-game-hall-content: #005fa1;
    /**Game hall text color**/
    -nes4j-game-hall-text-fill: #fff;
    /**Default list view select row background color**/
    -nes4j-list-cell-select-color: #1f68d0;
}

/*设置全局字体和大小*/
* {
    -fx-font-family: 'Gen Jyuu Gothic';
}

ScrollPane, .list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view .list-cell {
    -fx-background-color: -nes4j-background-color;
}

.list-view .list-cell:selected {
    -fx-background-color: -nes4j-list-cell-select-color;
}

