.root {
    -nes4j-background-color: #fff;
    /**Game hall navbar background color**/
    -nes4j-game-hall-navbar: #ff9833;
    /**Game hall left assort background color**/
    -nes4j-game-hall-assort: #304156;
    /**Game hall left assort text fill**/
    -nes4j-game-hall-assort-fill: #bfcbd9;
    /**Game hall center content background color**/
    -nes4j-game-hall-content: #ffffff;
    /**Game hall app name text fill**/
    -nes4j-game-hall-app-name: #ffffff;
    /**Game hall text color**/
    -nes4j-game-hall-text-fill: #000000;
    /**Game hall list-cell select text color**/
    -nes4j-game-hall-list-cell-active: rgba(64, 158, 255, 1);
    /**Default list view select row background color**/
    -nes4j-list-cell-select-color: rgba(10, 29, 47, 1);
    /**Game tray hover background color**/
    -nes4j-game-tray-hover-color: rgba(13, 10, 49, .4);
    /**Game tray hover text color**/
    -nes4j-game-tray-hover-text-color: #fff;

}

/*设置全局字体和大小*/
* {
    -fx-font-family: 'Gen Jyuu Gothic';
}

ScrollPane, .list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view .list-cell {
    -fx-background-color: -nes4j-background-color;
}

.list-view .list-cell:selected {
    -fx-background-color: -nes4j-list-cell-select-color;
}

.empty {
    -fx-alignment: CENTER;
}

