@import "Common.css";

GridPane {
    -fx-vgap: 1em;
    -fx-hgap: 1em;
    -fx-alignment: TOP-CENTER;
    -fx-padding: .5em;
}

.status-grid {
    -fx-hgap: .5em;
    -fx-vgap: .5em;
    -fx-alignment: CENTER-LEFT;
}

.top-box {
    -fx-padding: .2em;
    -fx-spacing: .5em;
    -fx-border-width: 0 0 .05em 0;
    -fx-border-color: #b8b8b8;
}

.top-box .button {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.list-view .list-cell {
    -fx-padding: 0;
}

.break-line {
    -fx-spacing: .5em;
    -fx-alignment: CENTER-LEFT;
}

.break-line .break-label {
    -fx-pref-width: 1.5em;
    -fx-pref-height: 1.5em;
    -fx-text-fill: #000000;
    -fx-font-weight: bolder;
    -fx-background-color: #b8b8b8;
}

.break-line .break-label-drag {
    -fx-background-color: red !important;
}

.debug-line {
    -fx-background-color: red !important;
}

.debug-line .label {
    -fx-text-fill: #fff !important;
}