@import "Common.css";

.navbar *, .assort, .flow-pane .game-tray .label, .empty .label {
    -fx-font-size: 1.4em;
    -fx-text-fill: -nes4j-game-hall-text-fill;
}

.navbar {
    -fx-padding: .5em;
    -fx-border-width: 0 0 .1em 0;
    -fx-border-color: -nes4j-game-hall-navbar-border;
    -fx-background-color: -nes4j-game-hall-navbar;
}

.navbar * {
    -fx-font-size: 1.1em;
}

.x-box {
    -fx-spacing: .6em;
    -fx-padding: .3em;
    -fx-alignment: CENTER-LEFT;
    -fx-border-width: 0 0 .1em 0;
    -fx-background-color: -nes4j-game-hall-xbox;
    -fx-border-color: -nes4j-game-hall-navbar-border;
}

.flow-pane {
    -fx-vgap: .5em;
    -fx-hgap: .5em;
    -fx-spacing: .5em;
    -fx-padding: .5em;
    -fx-background-repeat: no-repeat;
    -fx-background-position: bottom right;
    -fx-background-image: url(../img/poster.png);
    -fx-background-color: -nes4j-game-hall-content;
}

.flow-pane .game-tray {
    -fx-alignment: CENTER;
    -fx-pref-width: 100px;
    -fx-border-radius: .5em;
    -fx-background-radius: .5em;
    -fx-padding: .5em;
}

.flow-pane .game-tray:hover {
    -fx-background-color: -nes4j-game-tray-hover-color;
}

.flow-pane .game-tray:hover .label {
    -fx-text-fill: -nes4j-game-tray-hover-text-color;
}

.assort {
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.assort .tree-view-root {
    -fx-pref-width: 1.3em;
    -fx-background-color: -nes4j-game-hall-assort-tree-view-root;
    -fx-shape: 'M288 287.872V64H64v224l224-0.128z m112 672h224V736h-224v224z m-336 0h224V736H64v224z m0-336h224v-224H64v224z m336 0h224v-224h-224v224z m336-336H960V64h-224v223.872z m-112 0V64h-224v224l224-0.128zM960 623.872v-224h-224v224H960z m0 336V736h-224v224H960z';
}

.assort .assort-folder {
    -fx-pref-width: 1.2em;
    -fx-background-color: #654099;
    -fx-shape: 'M970.666667 213.333333H546.586667a10.573333 10.573333 0 0 1-7.54-3.126666L429.793333 100.953333A52.986667 52.986667 0 0 0 392.08 85.333333H96a53.393333 53.393333 0 0 0-53.333333 53.333334v704a53.393333 53.393333 0 0 0 53.333333 53.333333h874.666667a53.393333 53.393333 0 0 0 53.333333-53.333333V266.666667a53.393333 53.393333 0 0 0-53.333333-53.333334z m-275.866667 374.82c-25.486667 33.926667-71.333333 74.92-148.666667 132.913334a21.333333 21.333333 0 0 1-25.6 0c-77.333333-58-123.18-98.986667-148.666666-132.913334S341.333333 528.273333 341.333333 497.233333C341.333333 434.793333 392.126667 384 454.566667 384A112.893333 112.893333 0 0 1 533.333333 415.9 112.893333 112.893333 0 0 1 612.1 384c62.44 0 113.233333 50.793333 113.233333 113.233333 0 31.04-5.106667 57.08-30.533333 90.92z';
}

.assort .tree-cell {
    -fx-background-color: -nes4j-game-hall-list-view;
    -fx-focus-traversable: false;
}

.assort .tree-cell:selected {
    -fx-text-fill: -nes4j-game-hall-list-cell-text;
    -fx-background-color: -nes4j-game-hall-list-cell-active;
}

.navbar .left-box, .navbar .right-box {
    -fx-spacing: .7em;
    -fx-padding: 0 .1em;
}

.navbar .left-box {
    -fx-alignment: CENTER-LEFT;
}

.navbar .right-box {
    -fx-alignment: CENTER-RIGHT;
}

.navbar .button {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-text-fill: -nes4j-game-hall-text-fill;
}

.navbar .button:hover {
    -fx-text-fill: -nes4j-game-hall-list-cell-text;
}

.navbar .button:hover .prefix {
    -fx-background-color: -nes4j-game-hall-list-cell-text;
}

.navbar .button .prefix {
    -fx-pref-width: 1.1em;
    -fx-background-color: -nes4j-game-hall-text-fill;
}

.navbar .button .donate {
    -fx-shape: "M832 296.6H660.1l20.5-21.2c29-29.8 29-78.2 0-108.1-14.5-14.9-33.5-22.4-52.5-22.4s-38 7.4-52.4 22.4L504 241.6l-73.7-79.3c-14.5-15.5-33.5-23.2-52.5-23.2s-38 7.7-52.5 23.2c-29 31-29 81.4 0 112.4l20.4 21.9H174.3c-19.6 0-35.5 16.3-35.5 36.3v144c0 20.1 15.9 36.3 35.5 36.3h23.4v298.5c0 20 15.8 36.2 35.3 36.2h539.9c19.5 0 35.3-16.2 35.3-36.2V660.1v-8-21.3-8.7-6-10.9-9.3-82.7H832c19.6 0 35.5-16.2 35.5-36.3v-21.7-119.7-2.7c-0.1-19.9-15.9-36.2-35.5-36.2z m-213.8-88.3c3.5-3.6 7.3-4.3 10-4.3s6.5 0.8 10.1 4.4c6.8 7 6.8 18.9 0 25.9l-39.8 41h-44.9l64.6-67z m-249.7-5.7c3.5-3.7 7-4.5 9.3-4.5 2.3 0 5.8 0.8 9.3 4.6l69 74.2h-47.9l-39.7-42.5c-7.7-8.3-7.7-23.4 0-31.8zM197.9 355.7h275.7v98.4H197.9v-98.4z m58.9 157.5h216.9v275.7H256.8V513.2z m492.3 139V789H532.7V513.2h216.4v139z m59.3-198.1H532.7v-98.4h275.6v98.4z";
}

.navbar .button .setting {
    -fx-shape: "M512 328c-100.8 0-184 83.2-184 184S411.2 696 512 696 696 612.8 696 512 612.8 328 512 328z m0 320c-75.2 0-136-60.8-136-136s60.8-136 136-136 136 60.8 136 136-60.8 136-136 136z M857.6 572.8c-20.8-12.8-33.6-35.2-33.6-60.8s12.8-46.4 33.6-60.8c14.4-9.6 20.8-27.2 16-44.8-8-27.2-19.2-52.8-32-76.8-8-14.4-25.6-24-43.2-19.2-24 4.8-48-1.6-65.6-19.2-17.6-17.6-24-41.6-19.2-65.6 3.2-16-4.8-33.6-19.2-43.2-24-14.4-51.2-24-76.8-32-16-4.8-35.2 1.6-44.8 16-12.8 20.8-35.2 33.6-60.8 33.6s-46.4-12.8-60.8-33.6c-9.6-14.4-27.2-20.8-44.8-16-27.2 8-52.8 19.2-76.8 32-14.4 8-24 25.6-19.2 43.2 4.8 24-1.6 49.6-19.2 65.6-17.6 17.6-41.6 24-65.6 19.2-16-3.2-33.6 4.8-43.2 19.2-14.4 24-24 51.2-32 76.8-4.8 16 1.6 35.2 16 44.8 20.8 12.8 33.6 35.2 33.6 60.8s-12.8 46.4-33.6 60.8c-14.4 9.6-20.8 27.2-16 44.8 8 27.2 19.2 52.8 32 76.8 8 14.4 25.6 22.4 43.2 19.2 24-4.8 49.6 1.6 65.6 19.2 17.6 17.6 24 41.6 19.2 65.6-3.2 16 4.8 33.6 19.2 43.2 24 14.4 51.2 24 76.8 32 16 4.8 35.2-1.6 44.8-16 12.8-20.8 35.2-33.6 60.8-33.6s46.4 12.8 60.8 33.6c8 11.2 20.8 17.6 33.6 17.6 3.2 0 8 0 11.2-1.6 27.2-8 52.8-19.2 76.8-32 14.4-8 24-25.6 19.2-43.2-4.8-24 1.6-49.6 19.2-65.6 17.6-17.6 41.6-24 65.6-19.2 16 3.2 33.6-4.8 43.2-19.2 14.4-24 24-51.2 32-76.8 4.8-17.6-1.6-35.2-16-44.8z m-56 92.8c-38.4-6.4-76.8 6.4-104 33.6-27.2 27.2-40 65.6-33.6 104-17.6 9.6-36.8 17.6-56 24-22.4-30.4-57.6-49.6-97.6-49.6-38.4 0-73.6 17.6-97.6 49.6-19.2-6.4-38.4-14.4-56-24 6.4-38.4-6.4-76.8-33.6-104-27.2-27.2-65.6-40-104-33.6-9.6-17.6-17.6-36.8-24-56 30.4-22.4 49.6-57.6 49.6-97.6 0-38.4-17.6-73.6-49.6-97.6 6.4-19.2 14.4-38.4 24-56 38.4 6.4 76.8-6.4 104-33.6 27.2-27.2 40-65.6 33.6-104 17.6-9.6 36.8-17.6 56-24 22.4 30.4 57.6 49.6 97.6 49.6 38.4 0 73.6-17.6 97.6-49.6 19.2 6.4 38.4 14.4 56 24-6.4 38.4 6.4 76.8 33.6 104 27.2 27.2 65.6 40 104 33.6 9.6 17.6 17.6 36.8 24 56-30.4 22.4-49.6 57.6-49.6 97.6 0 38.4 17.6 73.6 49.6 97.6-6.4 19.2-14.4 38.4-24 56z";
}

.navbar .button .github {
    -fx-shape: "M512 42.666667A464.64 464.64 0 0 0 42.666667 502.186667 460.373333 460.373333 0 0 0 363.52 938.666667c23.466667 4.266667 32-9.813333 32-22.186667v-78.08c-130.56 27.733333-158.293333-61.44-158.293333-61.44a122.026667 122.026667 0 0 0-52.053334-67.413333c-42.666667-28.16 3.413333-27.733333 3.413334-27.733334a98.56 98.56 0 0 1 71.68 47.36 101.12 101.12 0 0 0 136.533333 37.973334 99.413333 99.413333 0 0 1 29.866667-61.44c-104.106667-11.52-213.333333-50.773333-213.333334-226.986667a177.066667 177.066667 0 0 1 47.36-124.16 161.28 161.28 0 0 1 4.693334-121.173333s39.68-12.373333 128 46.933333a455.68 455.68 0 0 1 234.666666 0c89.6-59.306667 128-46.933333 128-46.933333a161.28 161.28 0 0 1 4.693334 121.173333A177.066667 177.066667 0 0 1 810.666667 477.866667c0 176.64-110.08 215.466667-213.333334 226.986666a106.666667 106.666667 0 0 1 32 85.333334v125.866666c0 14.933333 8.533333 26.88 32 22.186667A460.8 460.8 0 0 0 981.333333 502.186667 464.64 464.64 0 0 0 512 42.666667";
}

.navbar .button .back {
    -fx-shape: "M341.333334 512 597.333334 170.666666 682.666666 170.666666 426.666666 512 682.666666 853.333336 597.333334 853.333336 341.333334 512Z";
}

.navbar .button .help {
    -fx-shape: "M469.333333 597.333333v-85.333333h-42.666666v-85.333333h128v170.666666h42.666666v85.333334h-170.666666v-85.333334h42.666666z m42.666667 256c-187.733333 0-341.333333-153.6-341.333333-341.333333s153.6-341.333333 341.333333-341.333333 341.333333 153.6 341.333333 341.333333-153.6 341.333333-341.333333 341.333333z m0-85.333333c140.8 0 256-115.2 256-256s-115.2-256-256-256-256 115.2-256 256 115.2 256 256 256z m42.666667-469.333333v85.333333h-85.333334V298.666667h85.333334z";
}



