@import "common.css";

.navbar *, .assort, .flow-pane .game-tray .label, .empty .label {
    -fx-font-size: 1.4em;
    -fx-text-fill: -nes4j-game-hall-text-fill;
}

.assort .list-cell {
    -fx-text-fill: -nes4j-game-hall-assort-fill;
}

.assort .list-cell:selected {
    -fx-text-fill: -nes4j-game-hall-text-fill;
}

.navbar {
    -fx-padding: .5em;
    -fx-background-color: -nes4j-game-hall-navbar;
}

.navbar .logo-box {
    -fx-spacing: .3em;
    -fx-alignment: CENTER;
}

.navbar VBox {
    -fx-alignment: CENTER;
}

.navbar .x-box {
    -fx-alignment: CENTER-RIGHT;
    -fx-spacing: .6em;
}

.navbar .x-box .button {
    -fx-padding: 0;
    -fx-focus-traversable: false;
    -fx-background-color: transparent;
}

.navbar .logo-box .app-name {
    -fx-font-size: 1.8em;
    -fx-text-fill: -nes4j-game-hall-app-name;
}

.assort, .assort .list-cell {
    -fx-background-color: -nes4j-game-hall-assort;
    -fx-focus-traversable: false;
}

.assort .list-cell:selected {
    -fx-text-fill: -nes4j-game-hall-list-cell-active;
}

.flow-pane {
    -fx-vgap: .5em;
    -fx-hgap: .5em;
    -fx-spacing: .5em;
    -fx-padding: .5em;
    -fx-background-color: -nes4j-game-hall-content;
}

.flow-pane .game-tray {
    -fx-alignment: CENTER;
    -fx-pref-width: 100px;
    -fx-border-radius: .5em;
    -fx-background-radius: .5em;
    -fx-padding: .5em;
}

.flow-pane .game-tray:hover {
    -fx-background-color: -nes4j-game-tray-hover-color;
}

.flow-pane .game-tray:hover .label {
    -fx-text-fill: -nes4j-game-tray-hover-text-color;
}

