@import "common.css";

.navbar *, .assort, .flow-pane .game-tray .label, .empty .label {
    -fx-font-size: 1.4em;
    -fx-text-fill: -nes4j-game-hall-text-fill;
}

.navbar {
    -fx-padding: .5em;
    -fx-border-width: 0 0 .1em 0;
    -fx-border-color: -nes4j-game-hall-navbar-border;
    -fx-background-color: -nes4j-game-hall-navbar;
}

.navbar {
    -fx-pref-height: 4em;
}

.x-box {
    -fx-spacing: .6em;
    -fx-padding: .3em;
    -fx-alignment: CENTER-LEFT;
    -fx-border-width: 0 0 .1em 0;
    -fx-background-color: -nes4j-game-hall-xbox;
    -fx-border-color: -nes4j-game-hall-navbar-border;
}

.flow-pane {
    -fx-vgap: .5em;
    -fx-hgap: .5em;
    -fx-spacing: .5em;
    -fx-padding: .5em;
    -fx-background-color: -nes4j-game-hall-content;
}

.flow-pane .game-tray {
    -fx-alignment: CENTER;
    -fx-pref-width: 100px;
    -fx-border-radius: .5em;
    -fx-background-radius: .5em;
    -fx-padding: .5em;
}

.flow-pane .game-tray:hover {
    -fx-background-color: -nes4j-game-tray-hover-color;
}

.flow-pane .game-tray:hover .label {
    -fx-text-fill: -nes4j-game-tray-hover-text-color;
}

.assort .list-cell {
    -fx-background-color: -nes4j-game-hall-list-view;
    -fx-focus-traversable: false;
}

.assort .list-cell:selected {
    -fx-text-fill: -nes4j-game-hall-list-cell-text;
    -fx-background-color: -nes4j-game-hall-list-cell-active;
}

